@model Basic_MVC.Models.LoginModel

@{
	ViewData["title"] = "Check";
}


<div class="text-center">
	<h1 class="display-3">@Model.login</h1>
	@if (@Model.passCorrect == true)
	{
		@if (@Model.admin)
		{
			<p>You are ADMIN</p>
		}
		else
		{
			<p>You are USER</p>
		}
	}
	else
	{
		<p>ERROR Invalid password</p>
		<a href = "https://localhost:44336/Login">Password entry link</a>
	}
</div>